footer.footer
  .container
    .footer-content
      .footer-section
        h3.footer-title PinArtesans
        p.footer-description Conecta con artesanos de todo el mundo. Descubre, comparte y celebra el arte hecho a mano.
      
      .footer-section
        h4.footer-heading Empresa
        ul.footer-links
          li
            a(href="#") Acerca de
          li
            a(href="#") Carreras
          li
            a(href="#") Prensa
          li
            a(href="#") Blog
      
      .footer-section
        h4.footer-heading Comunidad
        ul.footer-links
          li
            a(href="#") Ayuda
          li
            a(href="#") Términos
          li
            a(href="#") Privacidad
          li
            a(href="#") Seguridad
      
      .footer-section
        h4.footer-heading Síguenos
        ul.footer-links
          li
            a(href="#") Instagram
          li
            a(href="#") Twitter
          li
            a(href="#") Facebook
          li
            a(href="#") YouTube
    
    .footer-bottom
      p &copy; 2024 PinArtesans. Todos los derechos reservados.
